.appbar { 
    height: 100px;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 0 30px;
    background: $main-color;
    background: linear-gradient(0deg, rgba(38,77,50,1) 0%, rgba(19,50,29,1) 90%);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
   

    // @media screen and (min-width: $big-pc){
    //     padding: 0 45px;
    // }

    &_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
}

.toolbar{
    width: 100vw;
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.basketBtn {
    cursor: pointer;
}

