.appbar { 
    height: 100px;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 0 30px;
    background-color: $main-color;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
   

    // @media screen and (min-width: $big-pc){
    //     padding: 0 45px;
    // }

    &_menu{
        display: flex;
        gap: 15px;
    }
}

.toolbar{
    width: 100vw;
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.basketBtn {
    cursor: pointer;
}

