.appbar { 
    // height: 120px;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 10px 30px;
    background: $main-color;
    background: linear-gradient(0deg, rgba(38,77,50,1) 0%, rgba(19,50,29,1) 90%);
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    z-index: 100;
  
   

    // @media screen and (min-width: $big-pc){
    //     padding: 0 45px;
    // }

    &_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
}
.logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    font-size: 30px;

    &_text{
        font-family: 'Montserrat', sans-serif;   
        color: #fff;
        font-size: 8px;
        text-align: center;
        margin-bottom: 10px;
        @media screen and (min-width: $tablet) {     
            font-size: 11px;  
        }
    
        @media screen and (min-width: $pc) {
            font-size: 12px;
        }

    }
}

.toolbar{
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    @media screen and (min-width: $mobile){   
        width: 480px;
    }
    
    @media screen and (min-width: $tablet){   
        width: 768px;
    }
    
    @media screen and (min-width: $pc){
        width: 1240px;
    }
    
    @media screen and (min-width: $big-pc){   
    
    }
   

}

.basketBtn {
    cursor: pointer;
}

