.card {
    width: 300px;
    height: 400px;
    padding: 10px 15px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 5px;
    transition: all 500ms $standart-transition-style;


    &:hover {
        transform: scale(1.01);
    }

    &_title {
        font-size: 16px;
        font-weight: 500;

        // font-family: 'Roboto', sans-serif;

    }

    &_image {
        height: 100%;
        // max-height: 150px;
        // align-self: center;       
    }


    &_link {
        align-self: center;
        height: 50%;
    }

    &_price {
        font-size: 15px;
        color: $main-color;
        font-weight: 500;
    }

    &_footer {
        &-block {
            margin-top: auto;
            width: 100%;
        }

        &-price {

            // font-size: 15px;
            // font-weight: 400;
            // color: tomato;
            &-block {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

.productCard {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    align-items: flex-start;
    // padding-bottom: 50px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;


    &_title {
        font-size: 20px;
        color: $main-color;
        margin-top: 25px;
        margin-bottom: 25px;

        @media screen and (min-width: $mobile) {}

        @media screen and (min-width: $tablet) {
            font-size: 25px;
        }

        @media screen and (min-width: $pc) {
            font-size: 30px;
        }

        @media screen and (min-width: $big-pc) {}
    }

    &_info {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 50px;
        width: 100%;

        @media screen and (min-width: $tablet) {
            flex-direction: unset;
            gap: 10px;

        }

        &-wrapper {
            width: 100%;

            @media screen and (min-width: $tablet) {
                width: 60%;
            }

            @media screen and (min-width: $pc) {
                width: 33%;
            }
        }


        &-reviews {
            width: 390px;
            display: none;
            max-height: 500px;
            overflow-y: auto;

            @media screen and (min-width: $pc) {
                display: block;
                width: 33%;
            }

            &-mobileandtablet {

                margin-bottom: 30px;

                @media screen and (min-width: $pc) {
                    display: none;
                }
            }
        }

        // &-wrapper {
        //     // width: 33%;

        //     // justify-content: center;

        // }


        &-image {
            width: 100%;
            height: fit-content;

            @media screen and (min-width: $tablet) {
                width: 40%
            }

            @media screen and (min-width: $pc) {
                width: 33%;
            }
        }

        // Застосування
        &-usage {
            color: $secondary-grey;
            font-size: 12px;

            &-link {
                color: #000000;
                // text-decoration: none;
                font-size: 16px;
            }
        }

        // Програма
        &-program {
            margin-top: 20px;
            color: $secondary-grey;
            font-size: 12px;

            &-wrapper {
                display: flex;
                flex-direction: column;
                gap: 5px;

            }

            &-link {
                color: #000000;
                // text-decoration: none;
                font-size: 16px;
            }
        }

        // Переваги список

        &-benefits {
            margin-top: 20px;
            margin-bottom: 10px;
            color: $secondary-grey;
            font-size: 12px;

            &-item {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-bottom: 5px;
                font-size: 14px;
            }
        }

        &-about {
            &-title {
                color: $main-color;
                margin-bottom: 10px;
                display: block;
            }

            &-text {
                color: #000000;
                line-height: 1.5;
            }
        }

        &-addtocart {
            width: fit-content;
            height: 36px;
            background-color: $main-color;
            padding: 8px 16px;
            border-radius: 4px;
            text-decoration: none;
            color: #ffffff;
            font-weight: 500;
            display: block;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;

            @media screen and (min-width: $pc) {
                font-size: 16px;
            }


        }

        &-price {
            width: fit-content;
            height: 36px;
            font-size: 12px;
            background-color: $main-color;
            padding: 8px 16px;
            // border: 1px solid #008000;
            border-radius: 4px;
            text-decoration: none;
            color: #ffffff;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (min-width: $pc) {
                font-size: 16px;
            }

            &-wrapper {
                display: flex;
                align-items: center;
                // justify-content: space-around;
                justify-content: center;
                gap: 10px;
                margin-bottom: 20px;

                @media screen and (min-width: $tablet) {
                    justify-content: unset;
                }
            }


            // display: flex;
            // align-items: center;
            // justify-content: center;


        }
    }

    &_outlet {
        padding: 20px 0;
        width: 100%;

    }

    &_btnlist {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        // justify-content: center;
        gap: 5px;
        margin-bottom: 15px;

        @media screen and (min-width: $tablet) {
            display: flex;
            gap: 15px;
        }

    }
}

// .about{
//     &_text{
//         line-height: 1.5;

//     }
// }