.filter {

    &_contacts{

        &-wrapper{
            margin-bottom: 20px;
            background-color: #fff;
            border-radius: 5px;
            padding: 10px;
        }

        &-list{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

            &-link{
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
            // color: #ffffff;
            color: $main-color;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }


    &_pc {
        display: none;
        @media screen and (min-width: $pc) {
            display: block;
        }
    }
    
    padding: 5px;
    width: 300px;
    // flex-basis: 100%;  

    &_item {
        position: relative;
        margin-bottom: 15px;
    }

    &_brand {
        border-bottom-width: 1px;
        margin-bottom: 50px;
        // padding-bottom: 50px;
    }

    &_title {
        font-size: 20px;
        color: #FFFFFF;
        font-weight: 400;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        gap: 10px;

    }

    &_label {
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
        color: #ffffff;



    }

    &_checkbox {
        display: none;
    }


    &_group {
        // background-color: tomato;
        margin-top: 10px;
        transform: scale(0);
        transform-origin: top;
        position: absolute;
        font-style: normal;
        font-size: 14px;

        // position: absolute;
        transition: all $standart-transition-time $standart-transition-style;


        &-input {
            display: none;
        }

        &-label {
            color: #ffffff;
            font-weight: 100;
            display: inline-block;
            margin-bottom: 5px;
            cursor: pointer;

        }
    }

    &_price {
        &-input {
            width: 50px;
            height: 20px;
            border-radius: 3px;
            flex-grow: 2;
            flex-grow: 2;
            font-size: 14px;

        }

        &-thumb {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 7px;
            color: #ffffff;
        }

        &-title {
            font-size: 18px;
            margin-bottom: 15px;
            color: #ffffff;
        }

        &-btn {
            // flex-grow: 2;
            width: 80px;
            height: 20px;
            border-radius: 3px;
            background-color: #fff;
            color: $main-color;
            // font-size: 15px;
            font-weight: 500;
            cursor: pointer;

        }

    }



}

.filter_checkbox:checked+.filter_group {
    transform: scale(1);
    position: static;

}