.filter {
    padding: 5px;
    flex-basis: 20%;
    // height: 500px;
    // position: absolute;


    // background-color: tomato;

    &_item {
        position: relative;
        margin-bottom: 15px;
    }

    &_brand {
        border-bottom-width: 1px;
        margin-bottom: 50px;
        // padding-bottom: 50px;
    }

    &_title {
        font-size: 20px;
        color: $main-color;
        font-weight: 500;
        margin-bottom: 10px;

    }

    &_label {
        // font-style: bold;
        font-size: 16px;
        cursor: pointer;



    }

    &_checkbox {
        display: none;
    }


    &_group {
        // background-color: tomato;
        margin-top: 10px;
        transform: scale(0);
        transform-origin: top;
        position: absolute;
        font-style: normal;
        font-size: 14px;

        // position: absolute;
        transition: all $standart-transition-time $standart-transition-style;


        &-input {
            display: none;
        }

        &-label {
            color: $main-color;
            display: inline-block;
            margin-bottom: 5px;
            cursor: pointer;
           
        }
    }

    &_price {
        &-input {
            width: 30px;

        }

        &-thumb {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }

        &-title {
            font-size: 18px;
            margin-bottom: 15px;
        }

    }



}

.filter_checkbox:checked+.filter_group {
    transform: scale(1);
    position: static;

}