.footer {
    width: 100%;
    padding: 20px 0;
    min-height: 100px;
    background: $main-color;
    background: linear-gradient(180deg, rgba(38,77,50,1) 0%, rgba(19,50,29,1) 90%);
    // https://cssgradient.io/
    margin: 0;
    // padding: 0;
    margin-top: auto;
    // border: 1px tomato solid;

    &_wrapper {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        align-items: baseline;
        gap: 50px;
    }

    &_block{

        &-one{
            &-item{
                color: #fff;
                font-size: 14px;
                font-weight: 100;
            }
        }

        &-two{
            &-item{
                color: #fff;
                font-size: 14px;
                font-weight: 100;
            }
        }

        &-contacts{
            &-item{
                color: #fff;
                font-size: 14px;
                font-weight: 100;
            }
        }


        &-title{
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            // margin-bottom: 15px;
            // border-bottom: 1px #fff solid;
            // text-align: center;
            line-height: 1.5;
        }
    }

}