.footer {
    width: 100%;
    padding: 20px 0;
    min-height: 100px;
    background: $main-color;
    background: linear-gradient(180deg, rgba(38,77,50,1) 0%, rgba(19,50,29,1) 90%);
    // https://cssgradient.io/
    margin: 0;
    // padding: 0;
    margin-top: auto;
    // border: 1px tomato solid;

   &_madeBy {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    display: block;
    text-decoration: none;
   }
}