.mainpage{
    display: flex;
    // justify-content: center;
    align-items: flex-start;
    gap: 15px;
    // flex-grow: 1;
    flex-basis: 100%;
    flex-wrap: wrap;

}

.main-page{
    padding: 150px 0;
    display: flex;
    gap: 30px;
    flex: 1 1 auto;

 
    
}