.reviews {
    &_title {
        color: $main-color;
        margin-bottom: 20px;


    }

    &_top {
        &-wrapper {
            display: flex;
            gap: 5px;
            align-items: center;
            margin-bottom: 20px;
        }
    }

    &_wrapper {
        padding: 0 20px;
    }

    &_empty {
        font-size: 12px;
    }

    &_item {
        // display: flex;
        margin-bottom: 10px;

        &-data {
            display: flex;
            gap: 5px;
            margin-bottom: 10px;
            align-items: center;
        }
    }

    &_name {
        font-size: 12px;
        font-weight: 500;
    }


}

.newReview {
    &_form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        @media screen and (min-width: $mobile){   

        }
        
        @media screen and (min-width: $tablet){   
        width: 80%;
        }
        
        @media screen and (min-width: $pc){
        width: 50%;
        }
        
        @media screen and (min-width: $big-pc){   
        
        }
        
    }

    &_name {
        border: 1px solid $main-color;
        height: 30px;
        // width: 300px;
        padding: 5px;
        font-weight: 500;
        border-radius: 5px;


    }

    &_text {
        column-rule: 10px;
        border: 1px solid $main-color;
        // width: 250px;
        height: 150px;
        padding: 5px;
        font-weight: 500;
        border-radius: 5px;

        // @media screen and (min-width: $mobile) {
        //     width: 300px;
        // }

        // @media screen and (min-width: $tablet) {
        //     width: 600px;

        // }

        // @media screen and (min-width: $pc) {
        //     width: 800px;
        // }

    }

    &_btn {
        width: 150px;
        height: 35px;
        color: $main-color;
        font-weight: 500;
        border: 1px solid $main-color;
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: all $standart-transition-time $standart-transition-style;

        &:hover {
            background-color: $main-color;
            color: #fff;
        }
    }


}