.send{

  &_form{
  // display: none;
  margin-bottom: 50px;

  }
  &_array{
    // display: none;
    margin-bottom: 50px;
    }
  

    &_input {
        border: 1px black solid;
        margin-right: 15px;
          }

          &_title {
                min-width: 500px;
                display: block;
                margin-bottom: 15px;
          }

          &_input {
            width: 500px;
          }

          &_btn {
            display: block;
            cursor: pointer;
          }
}

.sendnew{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
padding: 15px;
  &_title {
    cursor: pointer;
    margin-bottom: 15px;
  }
}


.admin{
  &_orders {


    &-title {
      cursor: pointer;
    margin-bottom: 15px;
    }

    &-list {
      background-color: #fff;
      border-collapse: collapse;

      th {
        margin-bottom: 15px;
      }


      th, td {
        text-align: left;
      }


    }

    // &-list {
    //   // display: none;
    // }
  }

}


.scale {
 display: block;
}

.getexact{

  &_btn {
    margin-bottom: 15px;
  }
}