@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "Blooming Elegant";
  src: url("../../data/fonts/BloomingElegant.otf") format("opentype");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border: 0 solid #e5e7eb;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #264d32;
}

#root {
  height: 100%;
}

.globalWrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.global-color {
  color: #264d32 !important;
  fill: #264d32 !important;
}

.container {
  margin: 0 auto;
  min-width: 320px;
}
@media screen and (min-width: 479.98px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 767.98px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1249.98px) {
  .container {
    width: 1240px;
  }
}
@media screen and (min-width: 1919.98px) {
  .container {
    width: 1240px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

div {
  margin: 0;
  padding: 0;
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background-color: #264d32 !important;
}

.appbar {
  width: 100%;
  top: 0;
  left: 0;
  padding: 5px 5px 15px 5px;
  background: #264d32;
  background: linear-gradient(0deg, rgb(38, 77, 50) 0%, rgb(19, 50, 29) 90%);
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.appbar_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}
.logo_text {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 8px;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 767.98px) {
  .logo_text {
    font-size: 10px;
  }
}
@media screen and (min-width: 1249.98px) {
  .logo_text {
    font-size: 12px;
  }
}

.toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
@media screen and (min-width: 767.98px) {
  .toolbar {
    max-width: 768px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1249.98px) {
  .toolbar {
    max-width: unset;
    width: 1240px;
  }
}
.basketBtn {
  cursor: pointer;
}

@media screen and (min-width: 767.98px) {
  .searchIcon {
    display: none !important;
  }
}

.auth {
  width: 300px;
  height: 500px;
  position: absolute;
  background-color: #FFFFFF;
  padding: 10px 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}
@media screen and (min-width: 767.98px) {
  .auth {
    width: 500px;
    height: 500px;
    padding: 20px 26px;
  }
}
.auth_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.auth_input {
  width: 300px;
}
.auth_btn {
  cursor: pointer;
  width: fit-content;
}
.auth_btn-wrapper {
  display: flex;
  gap: 5px;
}

.login_wrapper {
  display: flex;
  flex-direction: column;
}
.login_title {
  color: #264d32;
  font-weight: 300;
  margin-bottom: 14px;
}
.login_discription {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 5px;
}
.login_input {
  width: 100%;
  height: 30px;
  border: 1px solid #264d32;
  border-radius: 3px;
  padding: 5px;
  font-weight: 400;
  font-size: 14px;
  color: #264d32;
  margin-bottom: 15px;
}
.login_btn {
  width: 100%;
  height: 30px;
  background-color: #264d32;
  border-radius: 3px;
  color: #ffffff;
  margin-bottom: 15px;
  cursor: pointer;
}
.login_google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 30px;
  background-color: #264d32;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 15px;
}
.login_toregister {
  font-size: 12px;
  font-weight: 400;
  color: #264d32;
}

.user_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user_title {
  color: #264d32;
  font-weight: 300;
  margin-bottom: 14px;
}
.user_greeting {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.user_photo {
  width: 150px;
  margin-bottom: 20px;
}
.user_exit {
  width: 100%;
  height: 30px;
  background-color: #264d32;
  border-radius: 3px;
  color: #ffffff;
  margin-bottom: 15px;
  cursor: pointer;
}

@media screen and (min-width: 1249.98px) {
  .main-page {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }
}
.main-page_noproducts {
  font-size: 18px;
  margin: 0 auto;
  color: #fff;
}
.main-page_markup {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media screen and (min-width: 1249.98px) {
  .main-page_markup {
    justify-content: center;
  }
}
@media screen and (min-width: 1919.98px) {
  .main-page_markup {
    justify-content: unset;
  }
}

.freedelivery_pc {
  display: none;
  width: 920px;
  border-radius: 5px;
}
@media screen and (min-width: 1249.98px) {
  .freedelivery_pc {
    display: block;
  }
}
.freedelivery_tablet {
  display: none;
}
@media screen and (min-width: 767.98px) {
  .freedelivery_tablet {
    display: block;
    width: 610px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1249.98px) {
  .freedelivery_tablet {
    display: none;
  }
}
.freedelivery_mobile {
  display: block;
  width: 300px;
  border-radius: 5px;
}
@media screen and (min-width: 767.98px) {
  .freedelivery_mobile {
    display: none;
  }
}

.card {
  width: 300px;
  height: 400px;
  padding: 10px 15px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 5px;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover {
  transform: scale(1.01);
}
.card_brand {
  color: #264d32;
}
.card_title {
  font-size: 16px;
  font-weight: 500;
}
.card_image {
  height: 100%;
}
.card_link {
  align-self: center;
  height: 50%;
}
.card_price {
  font-size: 15px;
  color: #264d32;
  font-weight: 500;
}
.card_footer-block {
  margin-top: auto;
  width: 100%;
}
.card_footer-price-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productCard {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
}
@media screen and (min-width: 1249.98px) {
  .productCard {
    width: 100%;
  }
}
.productCard_breadcrumbs {
  cursor: pointer;
  color: #264d32;
  font-weight: 400;
  font-size: 12px;
}
@media screen and (min-width: 767.98px) {
  .productCard_breadcrumbs {
    font-size: unset;
  }
}
.productCard_breadcrumbs-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
  gap: 10px;
}
.productCard_title {
  font-size: 20px;
  color: #264d32;
  margin-bottom: 25px;
}
@media screen and (min-width: 767.98px) {
  .productCard_title {
    font-size: 25px;
  }
}
@media screen and (min-width: 1249.98px) {
  .productCard_title {
    font-size: 30px;
  }
}
.productCard_info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
  width: 100%;
}
@media screen and (min-width: 767.98px) {
  .productCard_info {
    flex-direction: unset;
    gap: 10px;
  }
}
.productCard_info-wrapper {
  width: 100%;
}
@media screen and (min-width: 767.98px) {
  .productCard_info-wrapper {
    width: 60%;
  }
}
@media screen and (min-width: 1249.98px) {
  .productCard_info-wrapper {
    width: 33%;
  }
}
.productCard_info-reviews {
  width: 390px;
  display: none;
  max-height: 500px;
  overflow-y: auto;
}
@media screen and (min-width: 1249.98px) {
  .productCard_info-reviews {
    display: block;
    width: 33%;
  }
}
.productCard_info-reviews-mobileandtablet {
  margin-bottom: 30px;
}
@media screen and (min-width: 1249.98px) {
  .productCard_info-reviews-mobileandtablet {
    display: none;
  }
}
.productCard_info-image {
  width: 100%;
  height: fit-content;
}
@media screen and (min-width: 767.98px) {
  .productCard_info-image {
    width: 40%;
  }
}
@media screen and (min-width: 1249.98px) {
  .productCard_info-image {
    width: 33%;
  }
}
.productCard_info-usage {
  color: grey;
  font-size: 12px;
}
.productCard_info-usage-link {
  color: #000000;
  font-size: 16px;
}
.productCard_info-program {
  margin-top: 20px;
  color: grey;
  font-size: 12px;
}
.productCard_info-program-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.productCard_info-program-link {
  color: #000000;
  font-size: 16px;
}
.productCard_info-benefits {
  margin-top: 20px;
  margin-bottom: 10px;
  color: grey;
  font-size: 12px;
}
.productCard_info-benefits-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
  font-size: 14px;
}
.productCard_info-about-title {
  color: #264d32;
  margin-bottom: 10px;
  display: block;
}
.productCard_info-about-text {
  color: #000000;
  line-height: 1.5;
}
.productCard_info-addtocart {
  width: fit-content;
  height: 36px;
  background-color: #264d32;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  display: block;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
@media screen and (min-width: 1249.98px) {
  .productCard_info-addtocart {
    font-size: 16px;
  }
}
.productCard_info-price {
  width: fit-content;
  height: 36px;
  font-size: 12px;
  background-color: #264d32;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1249.98px) {
  .productCard_info-price {
    font-size: 16px;
  }
}
.productCard_info-price-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 767.98px) {
  .productCard_info-price-wrapper {
    justify-content: unset;
  }
}
.productCard_outlet {
  padding: 20px 0;
  width: 100%;
}
.productCard_btnlist {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}
@media screen and (min-width: 767.98px) {
  .productCard_btnlist {
    display: flex;
    gap: 15px;
  }
}

.find {
  display: none;
}
@media screen and (min-width: 767.98px) {
  .find {
    display: flex;
  }
}
.find_mobile {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (min-width: 767.98px) {
  .find_mobile {
    display: none;
  }
}
@media screen and (min-width: 767.98px) {
  .find_close {
    display: none;
  }
}
.find_wrapper {
  position: relative;
}
.find_input {
  width: 300px;
  height: 40px;
  padding: 0 15px;
  font-weight: 500;
  outline: 0;
  border-radius: 5px;
  font-size: 18px;
}
.find_input::placeholder {
  font-size: 14px;
}
@media screen and (min-width: 767.98px) {
  .find_input {
    width: 400px;
  }
}
@media screen and (min-width: 1249.98px) {
  .find_input {
    width: 600px;
  }
}
.find_result {
  width: 100%;
  background-color: #fff;
  position: absolute;
  border: 1px solid tomato;
  z-index: 10;
}

.filter {
  padding: 5px;
  width: 300px;
}
.filter_contacts-wrapper {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}
.filter_contacts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filter_contacts-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #264d32;
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter_pc {
  display: none;
}
@media screen and (min-width: 1249.98px) {
  .filter_pc {
    display: block;
  }
}
.filter_item {
  position: relative;
  margin-bottom: 15px;
}
.filter_brand {
  border-bottom-width: 1px;
  margin-bottom: 50px;
}
.filter_title {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter_label {
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  color: #ffffff;
}
.filter_checkbox {
  display: none;
}
.filter_group {
  margin-top: 10px;
  transform: scale(0);
  transform-origin: top;
  position: absolute;
  font-style: normal;
  font-size: 14px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter_group-input {
  display: none;
}
.filter_group-label {
  color: #ffffff;
  font-weight: 100;
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer;
}
.filter_price-input {
  width: 50px;
  height: 20px;
  border-radius: 3px;
  flex-grow: 2;
  flex-grow: 2;
  font-size: 14px;
}
.filter_price-thumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
  color: #ffffff;
}
.filter_price-title {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ffffff;
}
.filter_price-btn {
  width: 80px;
  height: 20px;
  border-radius: 3px;
  background-color: #fff;
  color: #264d32;
  font-weight: 500;
  cursor: pointer;
}

.filter_checkbox:checked + .filter_group {
  transform: scale(1);
  position: static;
}

.backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  transform: scale(1);
  opacity: 1;
  background-color: #000000;
  opacity: 0.5;
  z-index: 10;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  background-color: #fff;
  transform: scale(1);
  width: 350px;
  height: 600px;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 767.98px) {
  .modal {
    width: 600px;
  }
}
@media screen and (min-width: 1249.98px) {
  .modal {
    width: 880px;
  }
}
.modal_title {
  font-size: 20px;
  color: #264d32;
  margin-bottom: 30px;
}
.modal_delete {
  cursor: pointer;
  color: #800000;
  margin-bottom: 20px;
  display: inline-block;
}

.backdrop_hidden {
  transform: scale(0);
}

.modal_hidden {
  transform: scale(0);
}

.closeBtn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.trashBtn {
  cursor: pointer;
}

.basket_list {
  list-style: none;
  overflow-y: auto;
  height: 350px;
}
.basket_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #e5e7eb;
  padding: 10px 0;
}
@media screen and (min-width: 767.98px) {
  .basket_item {
    flex-direction: unset;
  }
}
.basket_image {
  width: 120px;
}
.basket_title {
  width: 200px;
  text-align: center;
}
@media screen and (min-width: 767.98px) {
  .basket_title {
    text-align: unset;
  }
}
.basket_amount-manage {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.basket_amount-btn {
  font-size: 20px;
  cursor: pointer;
  background-color: inherit;
}
.basket_amount-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}
.basket_amount-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.basket_empty-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.basket_empty-image {
  width: 250px;
}
.basket_total-wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.basket_total-box {
  width: 370px;
  height: 75px;
  padding: 20px 10px;
  background-color: #e5e7eb;
  border: 1px black solid;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket_total-info {
  font-size: 20px;
  color: #264d32;
}
.basket_total-btn {
  width: 150px;
  height: 50px;
  background-color: #264d32;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.send_form {
  margin-bottom: 50px;
}
.send_array {
  margin-bottom: 50px;
}
.send_input {
  border: 1px black solid;
  margin-right: 15px;
}
.send_title {
  min-width: 500px;
  display: block;
  margin-bottom: 15px;
}
.send_input {
  width: 500px;
}
.send_btn {
  display: block;
  cursor: pointer;
}

.sendnew {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 15px;
}
.sendnew_title {
  cursor: pointer;
  margin-bottom: 15px;
}

.admin_orders-title {
  cursor: pointer;
  margin-bottom: 15px;
}
.admin_orders-list {
  background-color: #fff;
  border-collapse: collapse;
}
.admin_orders-list th {
  margin-bottom: 15px;
}
.admin_orders-list th, .admin_orders-list td {
  text-align: left;
}

.scale {
  display: block;
}

.getexact_btn {
  margin-bottom: 15px;
}

.order {
  padding: 20px;
  overflow-y: auto;
  background-color: #FFF;
  border-radius: 5px;
}
.order_title {
  font-size: 22px;
  color: #264d32;
  margin-bottom: 20px;
}
.order_input {
  border: 1px #264d32 solid;
  margin-right: 20px;
}
.order_client-wrapper {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.order_client-label {
  padding: 7px 10px;
  border: 1px #264d32 solid;
  border-radius: 5px;
  cursor: pointer;
  color: #264d32;
  background-color: #fff;
}
.order_client-input {
  display: none;
  margin-right: 10px;
}
.order_client-input:checked + .order_client-label {
  background-color: #264d32;
  color: #FFF;
}
.order_client-data-wrapper {
  margin-bottom: 20px;
}
.order_client-data-wrapper-ids {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
@media screen and (min-width: 767.98px) {
  .order_client-data-wrapper-ids {
    flex-direction: unset;
  }
}
.order_client-data-input {
  border: 1px #264d32 solid;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  height: 30px;
  padding: 7px;
}
.order_client-data-label {
  display: block;
  margin-bottom: 5px;
}
@media screen and (min-width: 767.98px) {
  .order_data-thumb {
    display: flex;
  }
}
.order_data-title {
  color: #264d32;
  font-size: 18px;
  margin-bottom: 20px;
}
.order_data-list {
  margin-bottom: 20px;
}
.order_data-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
  border-bottom: 1px #e5e7eb solid;
}
@media screen and (min-width: 767.98px) {
  .order_data-item {
    gap: 45px;
    align-items: center;
  }
}
.order_data-name {
  width: 60%;
}
@media screen and (min-width: 767.98px) {
  .order_data-name {
    width: 25%;
  }
}
.order_data-count {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #e5e7eb;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.order_data-image {
  display: none;
}
@media screen and (min-width: 767.98px) {
  .order_data-image {
    display: block;
    width: 100px;
  }
}
.order_data-price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.order_data-price-label {
  color: #e5e7eb;
  font-size: 10px;
}
.order_data-btn {
  cursor: pointer;
  padding: 10px 15px;
  color: #fff;
  background-color: #264d32;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
}
.order_data-summary {
  font-size: 16px;
  margin-top: 10px;
  display: flex;
  height: 50px;
  color: #264d32;
  flex-direction: column;
  gap: 5px;
}
.order_delivery-type1-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.order_delivery-type1-logo {
  width: 50px;
  height: 50px;
}
.order_delivery-type1-method-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 15px;
}
@media screen and (min-width: 767.98px) {
  .order_delivery-type1-method-wrapper {
    flex-direction: unset;
    gap: 15px;
  }
}
.order_delivery-label {
  padding: 7px 10px;
  border: 1px #264d32 solid;
  border-radius: 5px;
  cursor: pointer;
  color: #264d32;
  background-color: #fff;
}
.order_delivery-input {
  display: none;
  margin-right: 10px;
}
.order_delivery-input:checked + .order_delivery-label {
  background-color: #264d32;
  color: #FFF;
}
.order_delivery-choose {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 767.98px) {
  .order_delivery-choose {
    flex-direction: unset;
  }
}
.order_delivery-choose-wrapper {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-height: 100px;
}
@media screen and (min-width: 767.98px) {
  .order_delivery-choose-wrapper {
    min-height: 150px;
  }
}
.order_delivery-choose-label {
  color: #264d32;
  margin-bottom: 15px;
}
.order_delivery-choose-input {
  border: 1px #008000 solid;
  font-size: 16px;
  height: 30px;
  padding: 7px;
  border-radius: 5px;
}
.order_delivery-choose-result {
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #fff;
}
.order_delivery-choose-result-variant-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.order_delivery-choose-result-variant-title {
  color: inherit;
}
.order_delivery-choose-result-variant-image {
  width: 20px;
  height: 20px;
}
.order_delivery-summary-wrapper {
  display: flex;
  padding: 20px 0;
}
.order_delivery-summary-button {
  width: 200px;
  height: 50px;
  background-color: #264d32;
  color: #FFF;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.order_done-title {
  margin-bottom: 15px;
  text-align: center;
}
@media screen and (min-width: 767.98px) {
  .order_done-title {
    text-align: unset;
  }
}
.order_done-summary {
  margin-bottom: 15px;
}
.order_done-card {
  margin-bottom: 15px;
}
.order_done-card-link {
  margin-bottom: 15px;
}
.order_done-wrapper {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
}
@media screen and (min-width: 767.98px) {
  .order_done-wrapper {
    width: unset;
  }
}
.order_done-btn {
  width: 250px;
  height: 50px;
  background-color: #264d32;
  color: #FFF;
  font-size: 18px;
  cursor: pointer;
}

.about_text {
  font-size: 16px;
  line-height: 1.5;
}

.components_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.components_item {
  font-size: 15px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.usage_item {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.userpage {
  width: 100%;
  min-height: 500px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}
.userpage_title {
  margin-bottom: 15px;
}
.userpage_order-list {
  border-collapse: collapse;
  width: 100%;
}
.userpage_order-list th, .userpage_order-list td {
  text-align: left;
  padding: 10px;
}
.userpage_order-list tr:nth-child(even) {
  background-color: lightgrey;
}

.mobileMenu {
  padding: 20px 10px;
  background-color: #264d32;
}
@media screen and (min-width: 1249.98px) {
  .mobileMenu_icon {
    display: none;
  }
}
.reviews_title {
  color: #264d32;
  margin-bottom: 20px;
}
.reviews_top-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
}
.reviews_wrapper {
  padding: 0 20px;
}
.reviews_empty {
  font-size: 12px;
}
.reviews_item {
  margin-bottom: 10px;
}
.reviews_item-data {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  align-items: center;
}
.reviews_name {
  font-size: 12px;
  font-weight: 500;
}

.newReview_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
@media screen and (min-width: 767.98px) {
  .newReview_form {
    width: 80%;
  }
}
@media screen and (min-width: 1249.98px) {
  .newReview_form {
    width: 50%;
  }
}
.newReview_name {
  border: 1px solid #264d32;
  height: 30px;
  padding: 5px;
  font-weight: 500;
  border-radius: 5px;
}
.newReview_text {
  column-rule: 10px;
  border: 1px solid #264d32;
  height: 150px;
  padding: 5px;
  font-weight: 500;
  border-radius: 5px;
}
.newReview_btn {
  width: 150px;
  height: 35px;
  color: #264d32;
  font-weight: 500;
  border: 1px solid #264d32;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newReview_btn:hover {
  background-color: #264d32;
  color: #fff;
}

.discount_freeDelivery {
  background-color: #fff;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  color: #264d32;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
@media screen and (min-width: 767.98px) {
  .discount_freeDelivery {
    width: 610px;
  }
}
@media screen and (min-width: 1249.98px) {
  .discount_freeDelivery {
    width: 920px;
  }
}

.ad_brand-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.ad_brand-greenmax {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.footer {
  width: 100%;
  padding: 20px 0;
  min-height: 100px;
  background: #264d32;
  background: linear-gradient(180deg, rgb(38, 77, 50) 0%, rgb(19, 50, 29) 90%);
  margin: 0;
  margin-top: auto;
}
.footer_madeBy {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  display: block;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */